<h1>Students</h1>

<div class="card-group">
  <% @students.each do |student| %>
   <a href= "<%= student_path(student.id) %>">
    <img src="<%= student.image_url%>" alt="Profile Picture">
    <h4><%= student.full_name%></h4>
    <p>Current Evaluation: <%= student.current_evaluation%></p>
   </a>
  <% end %>
</div>

<%= link_to "[New Student]", new_student_path %>
<%= linkt_to "[Ask A Question!]", new_random_student_path %>
